* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #222b45;
}

:root {
    --tile-size: 4rem;
}

body {
    background-color: #eaeefc;
}

.title {
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

.card {
    width: 70vw;
    min-width: 992px;
    height: 672px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 32px;
}

.card-body {
    display: flex;
    gap: 32px;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(3 * var(--tile-size) + var(--tile-size) / 8 * 2 + 32px);
}

.board {
    position: relative;
    width: calc(3 * var(--tile-size) + var(--tile-size) / 8 * 2);
    height: calc(3 * var(--tile-size) + var(--tile-size) / 8 * 2);
    margin: 0 auto;
    background-color: #ffffff;
    border: calc(var(--tile-size) / 8) solid #dedede;
}

[data-row="1"] {
    --row: 0;
}

[data-row="2"] {
    --row: 1;
}

[data-row="3"] {
    --row: 2;
}

[data-column="1"] {
    --column: 0;
}

[data-column="2"] {
    --column: 1;
}

[data-column="3"] {
    --column: 2;
}

.tile {
    position: absolute;
    top: calc(var(--tile-size) * var(--row));
    left: calc(var(--tile-size) * var(--column));
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--tile-size);
    height: var(--tile-size);
    font-size: calc(var(--tile-size) / 2);
    font-weight: 900;
    border: calc(var(--tile-size) / 16 / 2) solid #222b45;
    transition: 0.5s;
}

.empty-tile {
    border: none;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
